$color-primary: #2d2f93;
$color-secondary: #bbdefe;
// $color-primary: #0769b4;

$color-grey-l-1: #faf9f9;
$color-grey-l-2: #f4f2f2;
$color-grey-l-3: #f0eeee;
$color-grey-l-4: #ccc;

$color-grey-d-3: #333;
$color-grey-d-2: #777;
$color-grey-d-1: #999;

$color-blue: #17a2b7;
$color-danger: #dc3546;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.5);
$shadow-light: 0 1rem 2rem rgba(0, 0, 0, 0.1);

$line: 2px solid $color-grey-l-3;

$radius: 0px;
$button-radius: 0px;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px;
$bp-medium: 56.25em; // 900px;
$bp-small: 47.5em; //600px
$bp-smallest: 31.25em; //500px
