@import "./global/index.module";
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 45%;
  }
}

body {
  color: $color-grey-d-2;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

::selection {
  background-color: $color-primary;
  color: #fff;
}
